@charset "utf-8";

body {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
}
header img {
    width: 350px;
}

#conteudo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer {
    border-top: 1px solid #ccc;
    padding: 5px 8px;
    margin-top: auto;
    margin-bottom: 10px;
}

#listagem {
    width: 80%;
}

#button {
    margin-top: 25px;
}
